*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 9px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 711px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
  margin-top: 6px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.result__video::-webkit-media-controls {
  zoom: 1.2;
}

.result__video::-webkit-media-controls-panel {
  padding-top: 5px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label-text {
  text-decoration: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox:active)
  .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  padding: 2px 0;
  color: inherit;
  font: inherit;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid currentColor;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: 1px;
  background-color: #fff;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 399px;
  margin-top: 1px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__list {
  margin-bottom: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__list-item:first-child {
  margin-top: 2px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
}

.content__card-link_current,
.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.content__video-card-title {
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.button {
  border: none;
  outline: 1px solid currentColor;
  color: inherit;
  font: inherit;
  font-weight: 700;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

.more-button {
  margin: 0 2px 2px;
  inline-size: calc(100% - 4px);
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
